<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-4 border p-4 mt-5'>
      <h2 class='text-center mb-4'>Crea una cuenta</h2>
      <form>
        <div class='mb-3'>
          <label for='nombre' class='form-label'>Nombre</label>
          <input
            type='text'
            class='form-control'
            id='nombre'
            placeholder='Ej. Juan'
          />
        </div>
        <div class='mb-3'>
          <label for='apellido' class='form-label'>Apellido</label>
          <input
            type='text'
            class='form-control'
            id='apellido'
            placeholder='Ej. Pérez'
          />
        </div>
        <div class='mb-3'>
          <label for='correo' class='form-label'>Correo Electrónico</label>
          <input
            type='email'
            class='form-control'
            id='correo'
            placeholder='Ej. juanperez@example.com'
          />
        </div>
        <div class='mb-3'>
          <label for='contrasena' class='form-label'>Contraseña</label>
          <input
            type='password'
            class='form-control'
            id='contrasena'
            placeholder='Ingresa una contraseña segura'
          />
        </div>
        <div class='mb-3'>
          <label for='confirmarContrasena' class='form-label'>Confirmar
            Contraseña</label>
          <input
            type='password'
            class='form-control'
            id='confirmarContrasena'
            placeholder='Confirma tu contraseña'
          />
        </div>
        <button
          type='submit'
          class='btn btn-primary btn-block'
        >Registrarse</button>
      </form>
    </div>
  </div>
</div>