<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-4 border p-4 mt-5'>
      <h2 class='text-center mb-4'>Crea una cuenta</h2>
      <form id='formRegister'>
        <div class='mb-3'>
          <label for='userFirstName' class='form-label'>Nombre</label>
          <input
            type='text'
            name='userFirstName'
            id='userFirstName'
            class='form-control'
            placeholder='Ej. Juan'
          />
        </div>
        <div class='mb-3'>
          <label for='lastName' class='form-label'>Apellido</label>
          <input
            type='text'
            class='form-control'
            id='lastName'
            placeholder='Ej. Pérez'
          />
        </div>
        <div class='mb-3'>
          <label for='userAge' class='form-label'>Edad</label>
          <input
            type='text'
            class='form-control'
            id='userAge'
            placeholder='Ej. Pérez'
          />
        </div>
        <div class='mb-3'>
          <label for='userEmail' class='form-label'>Correo Electrónico</label>
          <input
            type='email'
            class='form-control'
            id='userEmail'
            placeholder='Ej. juanperez@example.com'
          />
        </div>
        <div class='mb-3'>
          <label for='userPassword' class='form-label'>Contraseña</label>
          <input
            type='password'
            class='form-control'
            id='userPassword'
            placeholder='Ingresa una contraseña segura'
          />
        </div>
        <div class='mb-3'>
          <label for='userConfirmPassword' class='form-label'>Confirmar
            Contraseña</label>
          <input
            type='password'
            class='form-control'
            id='userConfirmPassword'
            placeholder='Confirma tu contraseña'
          />
        </div>
        <button type='submit' class='btn btn-primary btn-block'>Crear tu cuenta</button>
      </form>
    </div>
  </div>
</div>