<!--Add all products : public/js/productsAll.js-->
<div
  class='product-list px-5 pt-5 pb-2 d-flex flex-row flex-wrap justify-content-center'
>

</div>

<div class='pagination d-flex justify-content-center'>

</div>