<section class='jumbotron indexWelcome'>
  <div class='mt-4'>
    <h2 class='display-4'>Bienvenido a TechStore</h2>
    <p>Descubre nuestra selección de computadoras, accesorios y componentes de
      alta calidad, todo lo que necesitas para potenciar tu experiencia
      tecnológica.</p>
    <hr class='my-4' />
    <p>Explora nuestras ofertas exclusivas y encuentra el equipo perfecto para
      ti. Envíos rápidos y seguros.</p>
    <a href='./quienesSomos' class='btn btn-primary'>Conoce más sobre nosotros</a></div>
</section>