<div class='container p-5'>
  <h1>Quiénes Somos</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vitae quia
    iusto facere molestiae odit dicta pariatur repellendus totam, ipsa accusamus
    nemo eligendi eaque dolorem, eius dignissimos nihil, recusandae quaerat.</p>
</div>